doctype html
html
	head
		meta(charset='utf-8')
		//script(src="dist/popupS.min.js") 
		//link(href='css/popupS.min.css', rel='stylesheet')
	body
		h1 
			a(href='/') Server Side JavaScript
		h3
			a(href='/author') author
		ul
			each val in topics
				li
					a(href='/'+val.title)= val.title
		div 
			a(href='/new') 
				button(type="button") Create new post
		div 	
			a(href='/update/'+title)
				button(type="button") Modify 
		div 
			form(action=/delete/+title method='post')
				button(type="submit") Delete
		artcle
			h2= title
			= description 
			p by #{name} 